@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeUp {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-50px);
    }
  }
  
  .fade-up {
    animation: fadeUp 3s forwards;
  }
  

.full-height {
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
}